* {
    font-family: sans-serif;
}

.black {
    background-color: #d6d8d9;
}

.yellow {
    background-color: #fff2ce;
}

.red {
    background-color: #f9d6d6;
}

.green {
    background-color: #d6f9d6;
}